
@{
    ViewBag.Title = "DomesticImmovableAssets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>11. Permanent resources of HH</h2>

<form id="myform" name="myform" class="form-horizontal" method="POST" >

    <table class="table table-bordered table-responsive table-hover" id="showTable">
        <thead style="background: black;color: white">
            <tr>
                <td style="display: none">Id</td>
                <td>Land Type </td>
                <td>owned(In Decimal unit)</td>
                <td>Share/lease(In Decimal unit)</td>
                <td>Approximate value (Taka)</td>
                <td>Total production value (yearly )Taka</td>
                <td>
                    <button id="btnAdd" class="btn btn-success" type="button">+</button>
                    <button id="btnRemove" class="btn btn-success" type="button">-</button>
                </td>

            </tr>
        </thead>
        <tbody id="tbody">
             

            
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-8">
        </div>

        <div class="col-md-4">
            <input type="submit" id="submit" name="submit" style="background: black" class="btn-success form-control" value="Save" />
        </div>

    </div>&nbsp;
    @*<label name="messageLabel" style="color:darkblue ">@message</label>*@
</form>


@section scripts
{
    <script type="text/javascript">

    $(document).ready(function () {
        addRow(0);
        localStorage.setItem('index', 1);

        $("#btnAdd").click(function () {
            var i = Number(localStorage.index);

            addRow(i);

            localStorage.setItem('index', i + 1);
        });
        $("#btnRemove").click(function () {
            removeRow();
        });
    });
    function removeRow() {
        var i = Number(localStorage.index) - 1;
        if (i>0) {
            $("#" + i).remove();
        }


        localStorage.setItem('index', i);
    }

    function addRow(i) {
        var str = '<tr id=' + i + '>' +
                    '<td style="display: none"><input type="text" class="form-control" id="data['+i+'].BasicInformationOfAffectedPersonNid" name="data['+i+'].BasicInformationOfAffectedPersonNid" value="@(ViewContext.RouteData.Values["id"])" /></td>'+
                    '<td>'+
                       '<select class="form-control" name="data['+i+'].SocioEconomicData" id="data['+i+'].SocioEconomicData">'+
                            '<option value="">...Select...</option>'+

                            '<option value="Agricultural land">Agricultural land</option>' +

                            '<option value="Homestead land">Homestead land</option>' +
                            '<option value="Orchard">Orchard</option>' +

                            '<option value="Pond">Pond</option>' +
                            '<option value="Fallow land">Fallow land</option>' +
                            @*<option value="Total">Total</option>*@

                        '</select>'+
                    '</td>'+


                    '<td><input type="text" class="form-control" id="data['+i+'].AmountOwn" name="data['+i+'].AmountOwn" placeholder="Amount Own" /></td>'+

                    '<td><input type="text" class="form-control" id="data['+i+'].Lease" name="data['+i+'].Lease" placeholder="Lease" /></td>'+

                    '<td><input type="text" class="form-control" id="data['+i+'].TentativeAmount" name="data['+i+'].TentativeAmount" placeholder="Tentative Amount" /></td >'+
                    '<td><input type="text" class="form-control" id="data[' + i + '].TotalProducedAmount" name="data[' + i + '].TotalProducedAmount" placeholder="Total ProducedAmount" /></td>' +
            '</tr>';


        $("#tbody").append(str);

    }
    </script>
        }
